<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="assets/burger_style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>